<!-- MAIN HTM FILE -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Import the head section ejs file -->
  <%- include("./partials/head"); %>
</head>

<body>
  <!-- NAVIAGTION SECTION -->
  <header>
    <!-- Import the header/nav section ejs file -->
    <%- include("./partials/nav"); %>
  </header>

  <!-- MAIN BODY SECTION -->
  <main>
    <!-- LOG IN FORM SECTION -->
    <%- include("./partials/form"); %>

    

  </main>


  <footer>
    <!-- Import the FOOT  section ejs file -->
    <%- include("./partials/footer"); %>
  </footer>
</body>

</html>